.container {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  /* background-color: red; */
  gap: 50px;
}

.imgContainer {
  flex: 1;
  height: 350px;
  position: relative;
}

.img {
  object-fit: cover;
  border-radius: 10px;
  cursor: pointer;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.date {
  color: gray;
}

.category {
  color: crimson;
  font-weight: 500;
}

.desc {
  font-size: 18px;
  font-weight: 300;
  color: var(--softTextColor);
}

.links {
  border-bottom: 1px solid crimson;
  width: max-content;
  /* height: max-content; */
  padding: 2px 0px;
}

@media screen and (max-width: 1280px) {
  .imageContainer {
    display: none;
  }
}
